{% extends "layout.html.twig" %}

{% block title %}「{{ trailer.getName() }}」編集 | 予告動画{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/vendor/jquery.flexdatalist.min.css">
{% endblock %}

{% block javascript %}
<script src="/js/vendor/jquery.flexdatalist.min.js"></script>
<script src="/js/vendor/jsrender.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/modal/select-title.js?v=20180919"></script>
<script src="/js/trailer/form.js"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">予告動画</li>
    <li class="breadcrumb-item active">「{{ trailer.getName() }}」編集</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="trailer" method="post" enctype="multipart/form-data" action="{{ path_for('trailer_update', { id: trailer.getId() }) }}">
                <div class="card-header">
                    「{{ trailer.getName() }}」編集
                </div>
                <div class="card-body">
                    {% if errors %}
                    <div class="alert alert-danger" role="alert">
                        入力エラーがあります。
                    </div>
                    {% endif %}
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ID</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{ values.id }}</p>
                            <input type="hidden" name="id" value="{{ values.id }}">
                            <span class="help-block">※自動でIDが付与されます。</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">動画タイトル</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control{% if errors.name %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.name }}">
                            <div class="invalid-feedback">
                                {% for message in errors.name %}
                                    {{ message }}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row field-title">
                        <label class="col-md-3 col-form-label">該当作品</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="form-control-static title-name">{{ values.title_name }}</p>
                                    <input type="hidden" name="title_name" value="{{ values.title_name }}">
                                    <input type="hidden" name="title_id" class="form-control{% if errors.title_id %} is-invalid{% endif %}" value="{{ values.title_id }}">
                                    <div class="invalid-feedback">
                                        {% for message in errors.title_id %}
                                            {{ message }}
                                            {% if not loop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectTitleModal">作品選択</button>
                                    <button type="button" class="btn btn-danger btn-clear">選択解除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">YouTube</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ trailer.getYoutube() }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">https://youtu.be/</span>
                                        </div>
                                        <input type="text" name="youtube" class="form-control{% if errors.youtube %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.youtube }}">
                                        <div class="invalid-feedback">
                                            {% for message in errors.youtube %}
                                                {{ message }}
                                                {% if not loop.last %}<br>{% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">バナー画像</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="{{ blob_url(trailer.getBannerImage().getBlobContainer(), trailer.getBannerImage().getName()) }}" width="200">
                                </div>
                                <div class="col-md-12">
                                    <input type="file" name="banner_image" class="form-control{% if errors.banner_image %} is-invalid{% elseif is_validated %} is-valid{% endif %}">
                                    <span class="help-block">jpg、png、gif形式のみ対応。10MB以内。</span>
                                    <div class="invalid-feedback">
                                        {% for message in errors.banner_image %}
                                            {{ message }}
                                            {% if not loop.last %}<br />{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">リンクURL</label>
                        <div class="col-md-9">
                            <input type="url" name="banner_link_url" class="form-control{% if errors.banner_link_url %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.banner_link_url }}">
                            <span class="help-block">※該当作品を選択すると、作品の公式サイトが自動入力されます。</span>
                            <div class="invalid-feedback">
                                {% for message in errors.banner_link_url %}
                                    {{ message }}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        {% include 'include/form/field_multi_checkbox.html.twig' with {
                            label: '提出ページ',
                            name: 'page',
                            choices: form.getPageChoices(),
                            value: values.page,
                            error: errors.page,
                            is_validated: is_validated,
                            with_assist: false,
                        } only %}
                    </div>
                    
                    <div class="form-group row">
                        {% include 'include/form/field_multi_checkbox.html.twig' with {
                            label: '提出劇場',
                            name: 'theater',
                            choices: form.getTheaterChoices(),
                            value: values.theater,
                            error: errors.theater,
                            is_validated: is_validated,
                            with_assist: true,
                        } only %}
                    </div>
                    
                    <div class="form-group row">
                        {% include 'include/form/field_multi_checkbox.html.twig' with {
                            label: '提出特設サイト',
                            name: 'special_site',
                            choices: form.getSpecialSiteChoices(),
                            value: values.special_site,
                            error: errors.special_site,
                            is_validated: is_validated,
                            with_assist: false,
                        } only %}
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'include/modal/select_title.html.twig' only %}
{% endblock %}
