{## 
 # 作品コード fieldset
 #
 # Parameters:
 # * showing_index
 # * index
 #}
 {% set index = 'i' ~ index %} {# マージするため添字は文字列にする #}
<div class="card title-code">
    <div class="card-header">
        作品コード
        
        <div class="card-header-actions">
            <a href="#" class="card-header-action btn-delete-title-code">
                <i class="icon-trash"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row title-master">
            <label class="col-md-3 col-form-label">作品コード</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-prepend">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectTitleMasterModal">
                        <i class="icon-magnifier"></i> 検索</button>
                    </span>
                    <input type="text" name="showings[{{ showing_index }}][cords][{{ index }}][master_code]" class="form-control" value="">
                    <span class="help-block">
                        ※７桁のコードを入力してください。<br>
                        例）作品コード：12345、枝番：1 → <strong>1234501</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">対象劇場</label>
            <div class="col-md-9 col-form-label">
                <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="theater-1" name="showings[{{ showing_index }}][cords][{{ index }}][theater[]]" value="1">
                    <label class="form-check-label" for="theater-1">池袋</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="theater-2" name="showings[{{ showing_index }}][cords][{{ index }}][theater[]]" value="2">
                    <label class="form-check-label" for="theater-2">平和島</label>
                </div>
            </div>
        </div>
    </div>
</div>
